<!-- 登录 -->
<div id="login-box" class="container">
  <div class="container login-panel">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title text-center">
              Fitness
            </h2>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="username-input" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="username-input" placeholder="请填写您的账号(手机号)">
                </div>
              </div>              
              <div class="form-group">
                <label for="password-input" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password-input" placeholder="请填写您的密码">
                </div>
              </div>
              <a id="btn-login" class="btn btn-success btn-block" href="<%= constructInsideUrl('index/index') %>">马上登录</a>
            </form>
              <div class="col-sm-6 col-xs-6 link-container">
                <div class="text-left">
                  <a href="javascript:;" onclick="window.switchToPage('login-register')">注册</a>
                </div>
              </div>            
              <div class="col-sm-6 col-xs-6 link-container" >
                <div class="text-right">
                  <a href="javascript:;" onclick="window.switchToPage('forget-password')">我忘记密码了</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="loader" class="pageload-overlay" data-opening="m -5,-5 0,70 90,0 0,-70 z m 5,35 c 0,0 15,20 40,0 25,-20 40,0 40,0 l 0,0 C 80,30 65,10 40,30 15,50 0,30 0,30 z">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none" >
          <path d="m -5,-5 0,70 90,0 0,-70 z m 5,5 c 0,0 7.9843788,0 40,0 35,0 40,0 40,0 l 0,60 c 0,0 -3.944487,0 -40,0 -30,0 -40,0 -40,0 z"/>
        </svg>
  </div><!-- /pageload-overlay -->
</div>